
body {
    /* here I want to everything in my body to fill the full window */
    width: 100vw;
    height: 100vh;
    /* now I arrange my game area the way I want it with everything in the center */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 114, 80);
}

#gameArea {
   /* here I set how big the game area is */
    width: 800px;
    height: 600px;
    border: 4px solid black;
    background-color: rgb(214, 214, 214);
}

h2 {
   /* I used margin to space out the distance between the h1 and the game area */
    margin: 60px;
    font-size: 30px;
}